body
{
background-image: url("img/background.jpg");
background-color: #272727;
background-position: 100%;
height: 100%;
width: 100%;
margin: 0;
}

.bg-transparent
{
background-color: transparent;
}

.navicon
{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 30px;
}

.font-bar
{
    -webkit-text-stroke: 0.5px black;
}

.mail
{
    font-size: 50px;
    text-align: center;
    background-color: darkgray;
    height: 80px;
    width: 80px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 70px;
    border-radius: 100%;
}
.button1
{

}